@model BLL.App.DTO.Tank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealFcr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealFcr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealNh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealNh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Farm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Farm.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishType.Species)
        </dd>
        
        @*
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biomass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biomass)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedPerDayPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedPerDayPercent)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedPerDayKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedPerDayKg)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrowingPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrowingPerDay)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiomassAfterFeeding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiomassAfterFeeding)
        </dd>
        *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
