@model BLL.App.DTO.Answer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerValueFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerValueFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerValueSecond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerValueSecond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerValueThird)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerValueThird)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
